@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.eot');
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype'),
        url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
}

.hide {
    display: none;
}

.login {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.login-body {
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.login-body .panel {
    margin-bottom: 0;
}

.main {
    position: relative;
    padding: 7rem 0 5rem;
    width: 100%;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.footer p {
    padding: 1.5rem 0;
    margin-bottom: 0;
}

.files {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin: 0 -1rem;
}

.menu {
    margin-bottom: 35px;
}

.files li {
    width: 25%;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.files figure {
    border: 1px solid #ccc;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
}

.files figure a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.files figure label {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    background-color: #ccc;
    cursor: pointer;
}

.files figure input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.files figure span {
    position: absolute;
    width: 2rem;
    height: 1rem;
    display: none;
    border-left: 2px solid #337ab7;
    border-bottom: 2px solid #337ab7;
    transform: rotate(-45deg);
    top: 0.6rem;
    left: 0.6rem;
}

.files figure input:checked ~ span {
    display: block;
}

.form-media {
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
}

.form-media .btn {
    position: absolute;
    top: 0;
    right: 0;
}

.tab-content {
    padding: 15px 0;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(0, 0, 0, 0.75);
  background-size: cover;
  z-index: 999; }
  .loader-body {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px; }
    .loader-body span {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      border: 2px solid #fff;
      border-bottom: none;
      border-right: none; }
    .loader-body .loader-1 {
      width: 10rem;
      height: 10rem;
      left: 0;
      top: 0;
      -webkit-animation: loader 1.5s linear infinite;
              animation: loader 1.5s linear infinite; }
    .loader-body .loader-2 {
      width: 8rem;
      height: 8rem;
      left: 1rem;
      top: 1rem;
      -webkit-animation: loader 2s linear infinite;
              animation: loader 2s linear infinite; }

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
